@import "../../scss/index.scss";

.basic-layout {
    &__menu {
        padding-right: 0 !important;
    }

    &__content {
        height: 100vh;
        overflow: scroll; //Esto es para que la columna content haga scroll, que baje para abajo
        padding: 0 !important;
        border-right: 1px solid $border-grey;
        &::-webkit-scrollbar { //Esto hace que la barra del scroll desaparezca o quede escondido
            display: none;
        }
    }
}