@import "../../scss/index.scss";

.list-users {  //this class is components/ListUsers/User.js
    padding: 0;

    &__user {  //This is when "user" don't make click on the className="list-users__user"
        padding: 15px 30px;
        color: $font-light;
        border-bottom: 1px solid $border-grey;
        text-decoration: none;

        &:hover {  //hover is when "user" make click on the className="list-users__user"
            color: $font-light;
            background-color: $background-dark-light;
            text-decoration: none;
        }
    }
}