@import "../../../scss/index.scss";

.info-user {
    margin: 20px;

    * { //esto especificac que todo lo que este en infor-user tenga un margen de 0
        margin: 0;
    }

    svg {
        width: 15px;
        height: 15px;
        fill: $font-grey;
    }

    .name {
        font-size: 18px;
        font-weight: bold;
    }

    .email {
        font-size: 14px;
        color: $font-grey;
    }

    .descripcion {
        margin: 10px 0;
        white-space: pre-line; //Cuando nosotros pongamos enter o espacios los va a contemplar y lo va anadir
    }

    .more-info {
        display: flex;
        align-items: center;

        p, 
        a {
            color: $font-grey;
            padding-right: 20px;

            svg {
                margin-right:  10px;
            }
        }

        a {
            color: $primary;
            text-decoration: none;
        }
    }
}