@import "../../scss/index.scss";

.left-menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
    border-right: 1px solid $border-grey;

    .logo {
        width: 50px;
        padding: 20px 0 30px 0;
    }

    a { //Esto hace referencia al "Link"
        font-size: 20px;
        color: $font-light; //esto es para que la letra se haga blanco
        font-weight: bold; //para que se haga negrita la letra
        margin-bottom: 30px;
        text-decoration: none; //esto es para quitar la barra de abajo del link "____"

        &:hover { //cuando se pasa el puntero del mouse por el "Link" es este codigo
            text-decoration: none; //Aqui le esta quitando el color por defecto del link, cuando se pasa.
            color: $primary; //Aqui esta poniendo por color el $primary al link, cuando se pasa.
        }

        svg { //El svg viene dentro del "Link", en la consola lo puedes ver
            margin-right: 20px;
            width: 30px !important;
        }
    }

    button {
        width: 80%;
        border-radius: 50px;
        font-size: 18px;
        padding: 10px;
        margin-top: 30px;
        font-weight: bold;
    }
}