@import "../../scss/index.scss";

.error404 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        &:first-of-type {
            width: 150px;
            margin-bottom: 30px;
        }
        &:last-of-type {
            width: 600px;
        }
    }

    a {
        margin-top: 30px;
        color: $font-light;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
    }
}