@import "./scss/index.scss";

// Aqui las modificaciones son globales

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-grey-dark;
  color: $font-light;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

//de la linea 20 hasta la 39, esta configuracion es de manera global
.btn {
  box-shadow: none !important;
}

.btn.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover {
    background-color: rgba(26, 145, 218, 1);
  }
}

.btn.btn-outline-primary {
  border-color: $border-primary;
  color: $primary;
  &:hover,
  &:active,
  &:focus {
    background-color: rgba(29, 261, 241, 0.1) !important;
  }

}

input.form-control,
textarea.form-control{
  background-color: $background-dark-light;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid $border-grey;
  color: $font-light !important;

  &:focus{
    background-color: $background-dark-light;
    box-shadow: none;
    border-bottom: 1px solid $border-primary;
  }
}

.react-datepicker-wrapper {
  width: 100%;
  height: 38px;

  .react-datepicker__input-container {
    height: 100%;

    input {
      background-color: $background-dark-light;
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid $border-grey;
      color: $font-light !important;
      width: 100%;
      height: 100%;
      padding: 0 12px;
    }
  }
  
}